/* '*' in css means all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden; /* for hidden it is used to clip the content and no scriolling mechanism is provided */
}

#header{
    width: 100%;
    position: fixed;
    top: 0; left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 100;
}

.fa-pizza-slice{
    font-size: 4rem;
    color: #fff;
    z-index: 10000;
    cursor: pointer;
    display: none;
}

.fa-pizza-slice:hover{
    color: #ff04df;
}

#logoPizza{
    height: 7rem;
}

#navList{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#listVitu{
    margin-right: 4rem;
}

#anchor{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

#anchor:hover{
    color: #ff04df;
    text-decoration: none;
}

#home{
    background: linear-gradient(0deg, rgba(0,0,0,.6),rgba(0,0,0,.6));
    position: relative;
}

.content h1{
    font-size: 5rem;
    text-shadow: .1rem .1rem .3rem #333;   
}

.content h2{
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .3rem #333;
}

.content p{
    font-size: 1.6rem;
    color: #ccc;
}

.content button{
    height: 4rem;
    width: 14rem;
    outline: none;
    border: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.content button::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: #ff04df;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}

.content button:hover::before{
    width: 100%;
}

.fa-times{
    transform: skew(-180deg) rotate(-180deg);
}

.myContainer{
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.images{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: none;
}

.img1{
    display: block;
}

.controls{
    position: absolute;
    bottom: 14%; left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background: #fff;
    margin: 0 1rem;
}

.dots:hover{
    background: #ff04df;
}

#special{
    background: #000;
    min-height: 100vh;
}


.kichwaSpecial{
    color: #ff04df;
    font-size: 4rem;
    padding-top: 7rem;
    margin-bottom: 2rem;
}

.paraSpecial{
    color: #ccc;
    font-size: 2rem;

}

.card-container{
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    height: 40rem;
    width: 30rem;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

.card:hover{
    transform: scale(.9);
}

#pizzaCard{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#paraPizza{
    font-size: 1.4rem;
    margin: 2rem 0;
}

.btnCard{
    height: 4rem;
    width: 14rem;
    outline: none;
    border: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btnCard::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: #ff04df;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}

.btnCard:hover::before{
    width: 100%;
}

.aboutUs{
    margin-top: 12rem;
}

.paraAbout{
    font-size: 2rem;
    font-weight: bold;
}

#dish{
    min-height: 100vh;
    width: 100vw;
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}

.box{
    height: 20rem;
    width: 25rem;
    border-radius: .5rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}

#boxImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, .6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #fff;
}

.info h3{
    font-size: 3rem;
}
.info p{
    font-size: 1.3rem;
}
.info button{
    height: 4rem;
    width: 14rem;
    outline: none;
    border: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.info button::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: #ff04df;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}

.info button:hover::before{
    width: 100%;
}

#contact{
    min-height: 100vh;
    width: 100vw;
    background: url(../img/GarlicPizza.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

form{
    background: #fff;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #333;
}

.inputBox{
    position: relative;
    text-align: center;
}

.inputBuda{
    outline: none;
    border: .2rem solid #333;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 4rem;
    width: 90%;
    font-size: 2rem;
}

#messageArea{
    padding: 1rem;
    resize: none;
    height: 20rem;
}



#inputBtn{
    height: 4rem;
    width: 12rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    background: #333;
    color: #fff;
}

#inputBtn:hover{
    color: #333;
    background: #ff04df;
}

#footer{
    background: #333;
}

#footer h1{
    font-size: 2rem;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

#footer span{
    color: #ff04df;
    font-weight: bolder;
}

.logoFooter{
    text-align: center;
    margin-top: 6rem;
}



.footer-links{
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.footer-links h3{
    font-size: 2.2rem;
    color: #ff04df;
}

.footer-links a{
    color: #fff;
    font-size: 1.7rem;
}

.newsLetter h2{
    font-size: 2rem;
    margin: 2rem 0;
    color: #fff;

}

#newsInput{
    border: .2rem solid #fff;
    outline: none;
    background: none;
    height: 4rem;
    width: 22rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
}

#submitNews{
    height: 4rem;
    width: 12rem;
    margin-bottom: 2rem;
    margin-left: 1rem 0;
    margin-top: 2rem;
    background: #333;
    color: #fff;
}

#submitNews:hover{
    color: #333;
    background: #ff04df;
}

#target{
    height: auto;
}

/*Media Queries to make page responsive*/


