/* '*' in css means all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden; /* for hidden it is used to clip the content and no scriolling mechanism is provided */
}

#header{
    width: 100%;
    position: fixed;
    top: 0; left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 100;
}

.fa-pizza-slice{
    font-size: 4rem;
    color: #fff;
    z-index: 10000;
    cursor: pointer;
    display: none;
}

.fa-pizza-slice:hover{
    color: #ff04df;
}

#logoPizza{
    height: 7rem;
}

#navList{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#listVitu{
    margin-right: 4rem;
}

#anchor{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

#anchor:hover{
    color: #ff04df;
    text-decoration: none;
}